<h1>All movies</h1>


<% @movies.each do |movie| %>
  <div>
    <%= movie.name %>
    <%= movie.year %>
    <%= movie.is_showing ? '上映中' : '上映予定' %>
    <%= movie.description %>
    <%= image_tag movie.image_url %>
    <%= movie.created_at %>
    <%= movie.updated_at %>
  </div>
<% end %>


<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.label :検索条件 %>
  <%= f.text_field :search %>

  <%= f.radio_button :status, :all, checked: true %>
  <%= f.label :status, "すべて" %>
  <%= f.radio_button :status, 1 %>
  <%= f.label :status, "公開中" %>
  <%= f.radio_button :status, 0 %>
  <%= f.label :status, "公開予定" %>

  <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>